.post-page {
  padding: 0 10px;
  & a {
    color: $black;
    text-decoration: none;
  }
}

.post-page article {
  max-width: 800px;
  margin: 10px auto;
  background-color: $beige;
  padding: 40px;
  border: 1px solid $light-brown;
  & img {
    width: 100%;
    height: 100%;
    object-fit: covers;
    margin: 20px 0;
  }
  & h1 {
    font-family: "Moon";
    font-size: $xl;
  }
  & h2 {
    font-family: "Moon";
    font-size: $m;
    margin: 20px 0 10px;
  }
  & p {
    margin-bottom: 20px;
    line-height: 1.45;
  }
  & figcaption {
    text-align: center;
    font-size: $xs;
    margin: 0 0 20px;
    opacity: 0.6;
    font-style: italic;
  }
  @include phone {
    padding: 20px;
  }
}

.intro {
  margin-bottom: 20px;
  & p {
    margin-top: 5px;
  }
}
