// STYLES
.post-list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  padding: 10px;
  max-width: 1000px;
  gap: 20px;
  color: $black;
}

.post-preview-enabled {
  @include post-preview($black, $red);
  // BUTTON
  & button:enabled {
    @include post-preview-button($red);
    cursor: pointer;
    &:hover {
      background-color: $beige;
      border: 1px solid $red;
      color: $red;
    }
  }
}

.post-preview-disabled {
  @include post-preview($dark-brown, $dark-brown);
  // BUTTON
  & button {
    @include post-preview-button($dark-brown);
  }
}

@media (max-width: 975px) {
  .post-list {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  .post-list {
    max-width: 320px;
  }
}
