// TO DO
// sort posts: change from id to date
// format date
// add next and previous post athe bottom of post (maybe lol)
// test
// test2

// GIT
// "main" brach --> pushing to netlify
// "build" branch --> for writing and building

// COLORS
$black: #202020;
$white: #ffffff;
$light-brown: #d8c3a4;
$dark-brown: #8e8d89;
$red: #e88073;
$beige: #eae8dc;

// FONT SIZES
$xs: 13.33px;
$s: 16px;
$m: 19.2px;
$l: 23.04px;
$xl: 27.65px;

// FONTS
@font-face {
  font-family: "Moon";
  src: url("../assets/Moon\ Bold.otf") format("opentype");
}

@font-face {
  font-family: "Work";
  src: url("../assets/WorkSans-VariableFont_wght.ttf") format("truetype");
}

// MIXINS
@mixin post-preview-button($main-color) {
  background-color: $main-color;
  border: 1px solid $main-color;
  padding: 10px;
  font-family: "Moon";
  color: $white;
  margin: 20px 10px 0;
  transition: all 0.2s ease-in-out;
}

@mixin post-preview($text-color, $border-color) {
  background-color: $beige;
  color: $text-color;
  border: 1px solid $border-color;
  width: 300px;
  // min-width: 200px;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
